body {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  color: #86b300;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

p, ol {
  font-family: 'Anton', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration-skip: ink;
  font-weight: bolder;
  color: green;

  transition: all 120ms ease;
}

a:hover {
  color: red;
}

.main {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.fancy-text {
  font-weight: bolder;
  color: lightblue;
}

.interactive {
  cursor: pointer;
  font-weight: bolder;

  transition: all 150ms ease;
}

.interactive:hover {
  color: lightblue;
}

.filename {
  font-family: monospace;
  font-weight: bolder;
}

.mover {
  padding: 1rem 0;
  margin: 0;
  transition: padding 450ms ease-out;
}

.move-me:hover {
  padding-left: 140px;
}

.move-meleft {
  padding-left: 140px;
}

.move-meleft:hover {
  padding-left: 0;
}

.fancy {
  font-family: 'Lobster';
  color: red;
  font-size: 100px;
}