body {
  color: #DCE5E8;
  margin: 0;
  font-family: 'Abel', sans-serif;
   line-height: 1.0;
  margin-bottom: 0.5rem;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #F19C79;
}

::selection {
  color: whitesmoke; 
  background: #F19C79;
}


.main-image {
  width: 100%;
max-width: 700px;
height: 100%;
}

.slideshow-image {
  width: 100%;
  max-width: 300px;
  height: 100%;
}

.image-container {
  text-align: center;
}


.main-links {
  text-align: left;
  padding-left: 5rem;
  position: absolute;
  top: 300px;
  left: 0px;

}

.main-links h1 {
  font-size: 3rem;
}


h1 {
  font-family: 'Lato';
  text-transform: uppercase;
  font-size: 60px; 
}

h2{
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  color: #FAC9B8;
}

h3{
  font-size: 21px;
  color: lightblue;
}
h4{
  font-size: 18px; 
  color: #8B728E;
} h5, h6, 

p, ul{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: lightgray;
}

other {
  font-family: 'Anton', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration-skip: ink;
  font-weight: bolder;
  color:  #60495A;
  transition: all 120ms ease;
}

a:hover {
  color: #FAC9B8;
}

a:active {
  color: #A2D6E8;
}

.mainmain {
  padding-left: 1rem;
}



.main {
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.footer {
  text-align: right;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  width: 100%;
}

.fancy {
  font-family: 'Lobster';
  color: #8B728E;
  font-size: 50px;
    padding-right: 40px;
}

.fancy:hover {
  color: lightblue;
}

.fancy:active {
  color: #FAC9B8;
}

.interactive {
  cursor: pointer;
  font-weight: bolder;
  transition: all 150ms ease;
}

.filename {
  font-family: monospace;
  font-weight: bolder;
}

.mover {
  padding: 1rem 0;
  margin: 0;
  transition: padding 450ms ease-out;
}

.move-me:hover {
  padding-left: 140px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.right {
  flex: 1 1 400px;
}


.left {
  flex: 1 1 130px;
}

.resume-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
  justify-content: space-between;
}

.name {
  margin: 0;
  margin-right: 100px;
}

.info-link {
  margin-bottom: 5px;
  margin-top: 3px;
}

.personal-info {
  margin-right: 30px;
}


@media(min-width: 950px) {
  .main-links{
    top: 100px;
  }
 
}

@media(min-width: 493px) {
  .main-links{
    top: 200px;
  }
  .main-links h1 {
    font-size: 42px;
  }
  .mainmain {
    padding-left: 5rem;
  }
}

@media(min-width: 703px){
  .right {
    padding-left: 75px;
  }

}



.slider-holder
{
    width: 800px;
    height: 300px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-holder
{
    width: 2400px;
    background-color: red;
    height: 300px;
    clear: both;
    position: relative;
    
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slider-image
{
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slider-image-1:target ~ .image-holder
{
    left: 0px;
}

#slider-image-2:target ~ .image-holder
{
    left: -800px;
}

#slider-image-3:target ~ .image-holder
{
    left: -1600px;
}

.button-holder
{
    position: relative;
    top: -20px;
}

.slider-change
{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: brown;
}


.found-coffee, .hs,  .typeography-collage, .cow-collection {
  width:30%;
}

.broadside {
  width: 25%;
  padding: 15px;
}

.multipleobj-container {
  overflow: hidden;
}

.main-container {
width: 700px;
margin: 75px auto;

background-color: pink; 
}

img {
  width: 100%;
}

.media-object {
  width: 50%;
  float: left;
}